.carousel{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    height: 400px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.slide{
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.slider{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    transition: transform 0.5s ease-in-out;
}

.arrow{
    position: absolute;
    width: 2rem;
    height: 2rem;
    z-index: 2;
    color: white;
    transform: scale(1);
}

.arrow:hover{
    cursor: pointer;
}

.arrow_left{
    left: 1rem;
}

.arrow_right{
    right: 1rem;
}

.indicators {
    display: flex;
    position: absolute;
    bottom: 1rem;
}

.indicator{
    background-color: rgba(50,50,50,0.9);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px #555;
    margin: 0 6px;
    cursor: pointer;
}

.indicator_inactive{
    background-color: rgba(50,50,50,0.4);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    margin: 0 6px;
    cursor: pointer;
}