.container {
    display: flex;
    overflow: hidden;
    height: 100vh;
}

.sidebar {
    width: 15%;
    margin-top: 20px;
    padding: 10px;
    border-right: 5px solid #ccc;
    overflow: scroll;
    overflow-x: hidden;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.page {
    width: 85%;
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
}

.page::-webkit-scrollbar {
    display: none;
}

.content {
    width: 80%;
    padding: 10px;
}

