.menu {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin: 10px;
    gap: 120px;
}


.menu ul li {
    padding: 5px;
    position: relative;
    margin: 0;
}

.menu ul li a {
    position: relative;
    display: inline-block;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: large;
    text-decoration: none;
}

.hover a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

.hover a:hover::after {
    width: 100%;
}

.downArrow {
    display: inline-block;
    margin-left: 5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
}

.dropdown {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: auto;
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;
    white-space: nowrap;
    top: 100%;
    left: 0;
    border-radius: 20px 0 20px 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    transition: opacity 0.3s ease-in-out;
}

.dropdown ul {
    list-style-type: none;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
}

.dropdown ul li {
    padding: 5px 15px;
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    font-weight: 500;
    text-align: left;
    background: none;
    position: relative;
}

.dropdown ul li .options {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.dropdown ul li:hover {
    background: linear-gradient(to right, #4daefe, #00f2fe);
}

.dropdown ul li:hover .options {
    color: white;
    transform: translateX(5px);
}

li:hover .dropdown {
    opacity: 1;
    pointer-events: auto;
}
